.MyCabMain{
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
}
.item{
    color: red;
}

.item img {
    width: 50px;
}

.otherUserImg {
    color: red;
}

.otherUserImg img{
    width: 300px;
    border-radius: 50px;
}