.nav
{ background-color: navy;
    padding: 20px;
    grid-area: n; /*присвоили псевдоним грид ереа компоненту */
    display: flex;
    flex-direction: column;
    

}

.item {
color: red;
text-decoration: none;
}

.active
{
 color: gold; 
}

.NavFooter {

    margin-top: auto;
    


    
}

.itemNavFooter {
    color: blueviolet;
    display: flex;
    flex-direction: row;
    background-color: bisque;
    justify-content: space-between;

}

.itemNavFooter img {
    width:  50px;
    height: 70px;
    border-radius: 20px;
}
